html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  background-color: #FFFFFF;
  /*overflow: hidden;*/
}

/* glob */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 75px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

/* /glob */



/* header */

.burger {
  width: 30px;
  height: 23px;
  display: none;
}

.burger__line {
  display: inherit;
  width: 30px;
  height: 3px;
  margin-bottom: 7px;
  background-color: #000000;
}

.burger__line:last-child {
  margin-bottom: 0;
}

.header {
  width: 100%;
  max-height: 100px;
  background: #FFFFFF;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
  padding: 24px 0;
  margin-bottom: 50px;
  align-items: center;
}

.header__container {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  max-width: 225px;
  height: 72px;
  transition: all 0.1s ease-in-out;
}

.header__nav{
  padding-left: 295px;
  transition: all 0.1s ease-in-out;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  padding: 0;
  gap: 85px;
  list-style: none;
}


.header__nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.header-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  transition: 0.08s border-bottom ease-in-out;
}

.header-link:after {
  display: block;
  content: '';
  height: 2px;
  width: 100%;
}

.header-link:hover:after {
  background-color: #FF9900;
}

.header-link:active {
  color: #E1670E;
}

.header__search {
  fill: none;
  stroke: #333333;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

}

.header__search:focus {
  border: 2px solid #FF9900;
}

.header__search:hover {
  stroke: #FF9900;
}

.header__search:active {
  color: #E1670E;
  border: 2px solid #FF9900;
}

/* hero  */

.hero-container {
  background: url(../img/low-angle-photo-of-balconies-2462015.png) no-repeat;
  background-size: cover;
  padding: 100px 80px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}


.hero-button {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 39px;
  background: #FF9900;
  border-radius: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s background ease-in-out;
}

.hero-button:focus {
  background: #FFB84D;
}

.hero-button:hover {
  background: #FFB84D;
}

.hero-button:active {
  background: #E1670E;
}

.hero-text {
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
  margin-bottom: 24px;
  transition: font-size 0.3s ease-in-out;
}


.hero-content {
  display: block;
  max-width: 890px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 90px;
  transition: font-size 0.3s ease-in-out;
}

.hero-next {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-next-svg-1 {
  background: #FFFFFF;
  border-radius: 15px;
}

.hero-next-svg-2 {
  background: #CACACA;
  border-radius: 15px;
}

.hero-next-svg-3 {
  background: #CACACA;
  border-radius: 15px;
}


/* main  */

.main__about-us {
  padding: 50px 0;

}

/* about us */
.main__card-right {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__card-block {
  display: flex;
  flex-direction: row;
  border: 1px solid #CACACA;
  padding: 62px 110px 62px 60px;
  border-radius: 32px;
}

.main__card-block:first-child {
  margin-bottom: 32px;
}

.main__card-image {
  display: flex;
  margin-right: 50px;
  align-items: center;
}

.main__card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.main__card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}


/* about us */

.main__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 20px;
}

.main__text {
  max-width: 1235px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 50px;
}

.main__content-block {
  display: flex;
  width: 100%;
  background: url(../img/Rectangle2.png) no-repeat center;
  border-radius: 32px;
  align-items: flex-end;
  margin-right: 32px;
  background-size: cover;
}


.main__content {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
  align-items: center;
  width: 100%;
}

.main__content-text {
  max-width: 433px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-right: 160px;
}

.main__button {
  display: inline-block;
  padding: 17px 35px;
  border: 3px solid #FF9900;
  border-radius: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s background ease-in-out;
}

.main__button:focus {
  background: #FF9900;
}

.main__button:hover {
  background: #FF9900;
}

.main__button:active {
  background: #E1670E;
}

.main__card {
  max-width: 100%;
  max-height: 100%;
  justify-content: flex-start;
  flex-direction: row;
}

.main__card-2 {
  width: 49%;
  height: 50%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main__content-2 {
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.main__content-2 svg {
  position: relative;
  left: 60px;
  top: 65px;
}

.main__content-2-title {
  position: relative;
  left: 300px;
  top: -106px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.main__content-2-text {
  position: relative;
  left: 300px;
  top: -97px;
  width: 450px;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}



.main__content-3 {
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.main__content-3 svg {
  max-width: 190px;
  height: 165px;
}

.main__content-3-title {
  max-width: 412px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.main__content-3-text {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/* how-work  */
.how-work {
  padding: 50px 0;
}

.how-work__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}

.how-work__steps {
  list-style: none;
  display: flex;
  gap: 85px;
  margin-bottom: 45px;
}

.step__button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: 0.3s color ease-in-out;
}

.step__button:focus {
  border: 2px solid #FF9900;
}

.step__button:hover {
  color: #FF9900;
}

.step__button:active {
  color: #E1670E;
}

.how-work__bold-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.how-work__text {
  max-width: 730px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 18px;
}

.how-work__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.haw-work__left {
  margin-right: 142px;
  flex-shrink: 1;
}

.how-work__img {
  flex-shrink: 0;
  width: 870px;
  background: url("../img/Rectangle18.png") no-repeat;
  border-radius: 32px;
}

.how-work__button {
  padding: 20px 43px;
  background: #FF9900;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 32px;
  transition: 0.3s background ease-in-out;
}

.how-work__button:focus {
  background: #FFB84D;
}

.how-work__button:hover {
  background: #FFB84D;
}

.how-work__button:active {
  background: #E1670E;
}

.how-work__button-2 {
  padding: 20px 40px;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: 0.3s background ease-in-out, 0.3s color ease-in-out;
  ;
}

.how-work__button-2:focus {
  background: #666666;
  color: #FFFFFF;
}

.how-work__button-2:hover {
  background: #666666;
  color: #FFFFFF;
}

.how-work__button-2:active {
  background: #000000;
  color: #FFFFFF;
}


/* faq  */

.faq {
  padding: 50px 0 100px 0;
}

.faq__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 38px;
}

.faq__text {
  cursor: pointer;
}

.faq__picture {
  cursor: pointer;
  min-width: 50px;
  transition: all .3s ease-in-out;
}

.faq__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 0;
  fill: #CACACA;
  transition: all 0.3s ease-in-out;
}


.faq__line:focus {
  color: #FF9900;
  fill: #FF9900;
}

.faq__line:hover {
  color: #FF9900;
  border-color: #FF9900;
  fill: #FF9900;
}

.faq__line:active svg {
  transform: rotate(45deg);
}


/* /faq  */

/* footer */
.footer {
  background: #000000;
  min-width: max-content;

}

.footer__container {
  display: flex;
  padding: 50px 0;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #cacaca;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 90px;
}

.footer__link-text {
  transition: 0.3s color ease-in-out;
}

.footer__link-text:focus {
  border: 1px solid #FF9900;

}

.footer__link-text:hover {
  color: #FF9900;
}

.footer__link-text:active {
  color: #E1670E;
}


.footer__ref svg {
  fill: #666666;
  transition: 0.3s all ease-in-out;
  cursor: pointer;

}

.footer__ref {
  display: flex;
  gap: 25px;
}

.footer__ref svg:focus {
  fill: #666666;
}

.footer__ref svg:hover {
  fill: #FF9900;
}

.footer__ref svg:active {
  fill: #E1670E;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-form__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin-bottom: 20px;
}

.footer-form__input-name::placeholder,
.footer-form__input-email::placeholder,
.footer-form__input-text::placeholder{
  font-family: 'Montserrat', Arial, sans-serif;
}

.footer-form__input-name,
.footer-form__input-email {
  padding: 14px 0 14px 24px;
  background: #414141;
  border-radius: 16px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  border: none;
}

.footer-form__input-text {
  padding: 14px 0 104px 24px;
  background: #414141;
  border-radius: 16px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  border: none;
}

.footer-form__input-name:focus,
.footer-form__input-email:focus,
.footer-form__input-text:focus {
  background-color: #666666;
}

.footer-form__input-name:hover,
.footer-form__input-email:hover,
.footer-form__input_text:hover {
  background-color: #666666;
}

.footer-form__input-name:active,
.footer-form__input-email:active,
.footer-form__input-text:active {
  background-color: #666666;
}

.footer-form__input-name::-webkit-input-placeholder,
.footer-form__input-email::-webkit-input-placeholder,
.footer-form__input-text::-webkit-input-placeholder {
  color: #CACACA;
}

.footer__link-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 36px;
}

.footer__left {
  width: 33%;
}

.footer__right {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-checkbox-label {
  color: #CACACA;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}

.footer-form__btn_checkbox {
  justify-content: center;
  align-items: center;
}

.footer-form__btn-checkbox {
  align-items: center;
}

.footer__custom-checkbox {
  position: relative;
}

.footer-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer-checkbox+.footer-checkbox-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.footer-checkbox+.footer-checkbox-label::before {
  content: '';
  display: inline-block;
  min-width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #CACACA;
  border-radius: 2px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.footer-checkbox:checked+.footer-checkbox-label::before {
  background-image: url("../img/checkbox.svg");
  background-size: contain;

}

.footer-form__submit-btn {
  padding: 19px 45px;
  background: #FF9900;
  border-radius: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 14px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  border: none;
}

.footer-form__submit-btn:focus {
  background-color: #FFB84D;
}

.footer-form__submit-btn:hover {
  background-color: #FFB84D;
}

.footer-form__submit-btn:active {
  background-color: #E1670E;
}

.footer__text {
  color: #CACACA;
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* /footer  */


.main__content__media {
  display: none;
}

.main__content__media-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 12px;
}

.main__content__media-button {
  padding: 12px 44px;
  color: #FF9900;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border: 2px solid #FF9900;
  border-radius: 8px;
  margin-bottom: 32px;
}
